{{ block title }}
    Results
{{ endblock }}

{{ block content }}
<style>
    .otree-title {
      text-align: center;
      font-size: 2em;
      font-weight:bold;
    }
    .otree-btn-next {
      display: block;
      margin: auto;
      margin-top: 20px;
      padding:auto;
    }
    .HIGH {
      color:blue;
      font-weight:bold;
    }
    .LOW {
      color:red;
      font-weight:bold;
    }
    
    .smalltable {
      width: 400px;
      height: 100px;
      margin: auto;
      padding:auto;
    }
  
    .largetable{
      width: 600px;
      height: 200px;
      margin: auto;
      padding:auto;
    }
  
    th {
      height: 35px;  
    } 
    table, td, th {
      border: 1px solid ;
      border-collapse: collapse;
      font-size: 15px;
      text-align: center;
      font-weight: bold;
    }
  
    .controls{
      text-align: center;
    }
</style>

<div>
    <table class = 'smalltable'>
      <tr>
        <th></th>
        <th>Buyer's value</th>
      </tr>
      <tr>
        <td><span class = 'HIGH' >High-quality</span></td>
        <td><span class = 'HIGH' >{{C.HighQuality_v}}</span></td>
      </tr>
      <tr>
        <td><span class = 'LOW' >Low-quality</span></td>
        <td><span class = 'LOW' >{{C.LowQuality_v}}</span></td>
      </tr>
    </table>
</div>
<br>

<div>
    <table class="largetable">
        <tr>
          <th></th>
          <th>SELLER 1</th>
          <th>SELLER 2</th>
        </tr>
        <tr>
          <th>Message</th>
          {{if SELLER1.SellerMessage == 1}}
            <td><span class = 'HIGH'>I sell a HIGH-quality product.</span></td>
          {{else}}
            <td><span class = 'LOW'>I sell a LOW-quality product.</span></td>
          {{endif}}
    
          {{if SELLER2.SellerMessage == 1}}
          <td><span class = 'HIGH'>I sell a HIGH-quality product.</span></td>
          {{else}}
          <td><span class = 'LOW'>I sell a LOW-quality product.</span></td>
          {{endif}}
        </tr>
        <tr>
          <th>Minimum Bid/Reservation Price</th>
          <td>{{ SELLER1.SellerReservationPrice }}</td>
          <td>{{ SELLER2.SellerReservationPrice }}</td>
        </tr>
        <tr>
            <th>Actual Quality</th>
            <td><span class = '{{ SELLER1.SellerProductQuality}}'>{{SELLER1.SellerProductQuality}}</span></td>
            <td><span class = '{{ SELLER2.SellerProductQuality}}'>{{SELLER2.SellerProductQuality}}</span></td>
        </tr>
        <tr>
            <th>Number of Bidders</th>
            <td>{{group1_buyers_num}} out of {{total_buyers_num}} buyers</td>
            <td>{{group2_buyers_num}} out of {{total_buyers_num}} buyers</td>
        </tr>
      </table>
</div>
<br>

<div>
    <p>You are <strong>SELLER {{player.id_in_group}}</strong> . All of bids for your product are as follows:</p>
    <table class="smalltable">
        <tr>
            {{for buyer in buyers_this_group}}
            <th>Bid #{{buyer.role}}</th>
            {{endfor}}
        </tr>
        <tr>
            {{for buyer in buyers_this_group}}
            <th>{{buyer.BuyerBid}}</th>
            {{endfor}}
        </tr>
    </table>
</div>
<br>

<div>
  {{if not buyers_this_group}}
  <p>No one wants to bid on your product</p>
  {{else}}
  <p><Strong>BUYER {{winnerId}} won the product</Strong></p>
  {{endif}}
  <p>Your profit is <strong>{{player.profit}}</strong></p>
</div>
{{ next_button }}
{{ endblock }}


